@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

* {
  font-family: 'NTR', sans-serif !important;
}

body {
  margin: 0;
  font-family: 'NTR', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E9EFF5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
